<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>hightchart</title>
    <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
</head>
<body>
     <div id="container" style="min-width:400px;height:400px"></div>

<input type="button" name="ceShi" onclick="javaScript:shuXin();" value="刷新">
</body>
<script src="/js/index.js"></script>
</html>