<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>hightchart</title>
    <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    <script src="https://img.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
</head>
<body>
     <div id="container" style="min-width:400px;height:400px"></div>

<input type="button" name="ceShi" onclick="javaScript:shuXin();" value="刷新">
     <script type="text/javascript">
      var dates=  "[783387, 861003, 741612, 560220, 496171, 439833, 439681, 399307, 446633, 390851, 348967, 332215],"+
             "[49231, 27877, 20568, 54626, 28349, 23158, 56025, 32668, 23878, 39513, 27439, 31429],"+
            " [293186937,294020035,294740649,295246182,295713973,296130613,296514237,296880858,297303597,297654908,297976413,298277171]";

</script>
</body>
<script src="/js/index.js"></script>
</html>